@charset "UTF-8";
/*
Sass Variables
*/
/*
$ps-content-margins:1366px;
$ps-content-margins2:683px; //$ps-content-margins / 2
*/
/*
Sass Functions
*/
/*
Sass Mixins
*/
/*
Reset/Normalize
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600");
ul {
  padding: 0;
  margin: 0; }

/*
Typography Rules

The Sans
-------------
The Sans se aplica en titulares de sección y de contenidos, aportando al
portal la personalidad propia requerida.

Source Sans Pro
-----------------
En el portal alcobendas.org y sus sitios web relacionados se utiliza como
texto de párrafo por defecto
*/
div#block-views-block-banner-home-block-1 img {
  position: fixed;
  width: 100vw;
  height: 100vh; }

/*
Sass Variables
*/
/*
$ps-content-margins:1366px;
$ps-content-margins2:683px; //$ps-content-margins / 2
*/
/*
Sass Variables
*/
/*
$ps-content-margins:1366px;
$ps-content-margins2:683px; //$ps-content-margins / 2
*/
/*
Sass Variables
*/
/*
$ps-content-margins:1366px;
$ps-content-margins2:683px; //$ps-content-margins / 2
*/
@media screen and (min-width: 992px) {
  .ps_content_margins {
    /*background-color: green;*/
    max-width: 1366px;
    margin: 0 auto; } }

@media screen and (min-width: 992px) {
  .ps_content_margins {
    /*background-color: green;*/
    max-width: 1366px;
    margin: 0 auto; } }
