/*
Sass Variables
*/
//Body
$Body-FontSize: 16px;

/*
$ps-content-margins:1366px;
$ps-content-margins2:683px; //$ps-content-margins / 2
*/
$ps-content-margins:1366px;
$ps-content-margins2:683px;
$ps-contentInterior-margins:992px;


$ps-font-family-display:OpenSans;
$ps-font-size-display:#C0C4C5;

$h1Color: #206db5;
$h2Color: #206db5;
$h3Color: #206db5;
$h4Color: #206db5;
$ppColor: #333333;
$pColor: #333333;
$paginatorColor: #97c9ed;

